*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    font-family: "Kanit", sans-serif;
    --color1: #FFF ;
    --color2: #EB7324 ;
    --color3: #512000;
    background-color: var(--color2);
}
.nav-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo a {
    font-family: "Kanit", sans-serif;
    color: var(--color1);
    text-align: center;
    margin-left: 120px;
    font-size: 20px;
}
.menu {
    display: flex;
    
}
.menu li {padding-left: 30px;}
    
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color3);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
    width: 200%;
    
}
.menu li a:hover{
    color: var(--color3);
}
.open-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    
}
.close-menu{
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}
.close-menu {
    top: 40px;
    right: 30px;
  
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
.fa-regular {
    font-size: 30px;
    color: var(--color1);
}
.fa-solid {
    font-size: 25px;
    color:var(--color1);
}

/* ------------------------- */


.container h1{
    font-family: "Kanit", sans-serif;
    color: var(--color1);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-top: 20px;
}

/* ------------------------- */
 
  select {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    padding: 5px 5px;
    width: 350px;
    height: 40px;
    margin-left: 15px;
    border-radius: 25px;
    color: #646464;
    margin-top: 10px
    
  }

  /* ---------------------------- */

  .container-1 h1{
    font-family: "Kanit", sans-serif;
    color: var(--color1);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-left: 35px;
    margin-top: 30px;
}

/* ------------------------------ */
textarea{
    width: 350px;
    height: 250px;
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 10px;
    border-top: 50px;

}
/* ------------------------------ */
.container-2 h1{
    font-family: "Kanit", sans-serif;
    color: var(--color1);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 20px;

}
/* ------------------------------ */
.btn {
    background-color: var(--color1);
    color: var(--color2);
    width: 85%;
    height: 45px;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 10px;
    transition-duration: 0.1s;
}
.btn:active{
    background-color: var(--color1);
    box-shadow: 0 5px #646464;
    color: var(--color2);
    transform: translateY(4px);
}
/* --------------------------------- */

